version: "3.7"

services:

    db:
        restart: always
        build:
            context: ./db
            dockerfile: Dockerfile
        ports:
            - 5432:5432    
        env_file: 
            - ./db/.env
        volumes: 
            - pg_data:/var/lib/postgresql/data
        networks: 
            - backend
            
    web:
        container_name: web
        build:
            context: ./ecommerce
            dockerfile: Dockerfile
        env_file: 
            - ./ecommerce/.env
        expose:
            - 8000
        volumes:
            - ./ecommerce/:/app
        networks: 
            - backend


volumes:    
    pg_data:

networks: 
    backend:
        driver: bridge

